
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #C83803; /* Primary Bears Orange */
    color: #061A34; /* Dark Navy/Blue */
}
header {
    background-color: #061A34; /* Dark Navy/Blue */
    font-family: Arial, sans-serif;
    color: white;
    padding: 20px;
    text-align: center;
}
header img {
    max-width: 150px;
    height: auto;
    display: block;
    margin: 10px auto;
}
h1 {
    color: white;
    font-family: Arial, sans-serif;
    margin-bottom: 0;
}
.content-section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h2 {
    color: #C83803;
    border-bottom: 2px solid #C83803;
    padding-bottom: 5px;
}
ul{
    list-style-type: disc;
    padding-left: 20px;
}
li{
    margin-bottom: 10px;
    line-height: 1.5;
}
        .video-container {
            position: relative;
            padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
            height: 0;
            overflow: hidden;
            max-width: 100%;
            background: #000;
    }
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}